<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Renzo Carbonara</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <header id="main-header">
            <hgroup>
                <h1>Renzo Carbonara</h1>
                <h2>Yours virtually</h2>
            </hgroup>
        </header>
        <section id="main-section">
            <article title="TODO">
                <p>I'm sorry to disapoint you, but this very personal website of mine ain't awesome yet.</p>
                <p>Why don't you try passing by again some other time? You might be surprised.</p>
            </article>
        </section>
        <!--
        <footer id="main-footer">
            <p class="licensing">Unless otherwise noted, the <em>contents</em> in this website are licensed under a
               <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/ar/">Creative
               Commons Attribution-ShareAlike 2.5 Argentina License</a>. <br />Copyright © 2011, Renzo Carbonara.</p>
        </footer>
        -->
        <link href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic' rel='stylesheet' type='text/css' />
    </body>
</html>
