{% extends "base.html" %}

{% block main_header %}
    <hgroup>
        <h1>Renzo Carbonara</h1>
        <h2>Yours virtually</h2>
    </hgroup>
{% endblock %}

{% block main_section %}
    <article>
        <p>I'm sorry to disapoint you, but this very personal website of mine ain't awesome yet.<br />
           Why don't you try passing by again some other time? You might be surprised.
        </p>
        <p>Meanwhile, you might drop me a mail at
          <span class="email-address"><span class="user">renzo</span><span class="host">carbonara.com.ar</span></span>.<br />
          <span class="optshit">
            Moreover, in case you need to send me something top-secret or check my signature, use
            <a href="{{ url_for('static', filename='pgp.74BEE4AB.pub.asc') }}" title="PGP Key 74BEE4AB"> this </a> PGP key.
          </span>
        </p>
    </article>
{% endblock %}
